
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    max-width: 100%;
}

body{
    width: 100%;
    background-color: white;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.header{
    display: flex;
    padding: 20px;
    
}

#list-items{
    display: flex;
    gap: 50px;
    list-style: none;
}

.header2{
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 50px;
}