
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    max-width: 100%;
    color: black;
    text-decoration: none;
}

body{
    width: 100%;
    background-color: white;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.header{
    display: flex;
    padding: 20px;
    
}

#list-items{
    display: flex;
    gap: 50px;
    list-style: none;
}

.header-2 a{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 500px;
    text-decoration: none;
    color: black;
}