
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    max-width: 100%;
}

body{
    width: 100%;
    background-color: white;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}
